body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('../src//images/TLC.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 100px;
  min-height: 100vh;
}
/* Navbar */
.navbar-link{
  color:orange;
}
.navbar-link:hover{
  background-color: orange;
  color: white;
}


.footer{
  z-index: 999  ;
}

Input:focus{
  border: 3px solid !important;
  border-color: orange !important;
}

Button{
  /* background-color: orange!important;
  color: whitesmoke !important;
  border: none !important; */
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #282828;
  background: #fd9535;/*button color*/
  border-bottom: solid 2px #d27d00;/*daker color*/
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
} 
Button:active{
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing{
  background-image: url('../src/images/tlc_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


th{
  background-color: #FFA500;
  color: whitesmoke;
  font-size: 1rem;
}

tr{
  color: whitesmoke;
}

td{
  font-size: 1.2rem;
}

table{
  background-color: #282828;
}

.landing-title{
  position: fixed;
  top: 5px;
  left: 10px;
  padding: 5px;
  background-color: whitesmoke;
  color: #282828;
  -webkit-box-shadow: 9px 11px 12px -1px rgba(0,0,0,0.37);
-moz-box-shadow: 9px 11px 12px -1px rgba(0,0,0,0.37);
box-shadow: 9px 11px 12px -1px rgba(0,0,0,0.37);
}

.landing-cta{
  background-color: whitesmoke;
  color: #282828;
  padding: 5px;
  -webkit-box-shadow: 9px 11px 12px -1px rgba(0,0,0,0.37);
-moz-box-shadow: 9px 11px 12px -1px rgba(0,0,0,0.37);
box-shadow: 9px 11px 12px -1px rgba(0,0,0,0.37);
}


.landing-title:hover{
  background-color: rgb(255, 255, 255);
}
.landing-button button{
background-color: orange;
color: whitesmoke;
border: none;
height: 150px;
padding: 55px 30px;
border-radius: 50%;
text-align: center;
text-decoration: none;
}

.landing-button button:hover{
  -webkit-box-shadow: 9px 11px 12px -1px rgba(0,0,0,0.37);
  -moz-box-shadow: 9px 11px 12px -1px rgba(0,0,0,0.37);
  box-shadow: 9px 11px 12px -1px rgba(0,0,0,0.37)
}


/* LANDING PAGE */


/* background image for card headers */
.cardschedule{
  background-image: url('../src/images/nikecourt_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardlocation{
  background-image: url('../src/images/tlc_location.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardsurface{
  background-image: url('../src/images/tlc_surface.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardcourt{
  background-image: url('../src/images/tlc_hoop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardavailablecourt{
  background-image: url('../src/images/tlc_3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardbg{
  background-image: url('../src/images/nike_justdoit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel{
  border: 2px solid #282828;
}

.login{
  background-color: #282828;
}
.loginform{
  background-color: #282828;
}

.register{
  background-color: #282828;
}
.registerform{
  background-color:#282828;
}

Label{
  font-size: 1rem;
}

/* Modal */

.modal-header{
  background-color: orange;
}


.link{
  background-color: #282828;
  border-color: #282828;
  color:white;
}

/* Bouncing Ball */

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FF5722;

  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 200px, 0); }
}


@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}